@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100%3b200%3b300%3b400%3b500%3b600%3b700%3b800%3b900&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}